body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f8fb;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0a3d62;
  padding: 15px 30px;
}

.logo {
  color: white;
  font-size: 22px;
  font-weight: bold;
}

.navbar a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
}

.navbar a:hover {
  text-decoration: underline;
}

.hero {
  text-align: center;
  padding: 100px 20px;
  background-image: url("../images/hero.jpg");
  background-size: cover;
  background-position: center;
  color: white;
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 10px;
}

.hero p {
  font-size: 20px;
}

.highlights {
  padding: 40px;
  text-align: center;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.card {
  background: white;
  padding: 20px;
  width: 200px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.card h3 {
  margin-top: 0;
}

.card p {
  font-weight: bold;
  color: #1e90ff;
}

.card img {
  width: 100%;
  height: 140px;
  object-fit: cover;
  border-radius: 6px;
  margin-bottom: 10px;
}



footer {
  background-color: #0a3d62;
  color: white;
  text-align: center;
  padding: 15px;
}

.admin-container {
  padding: 40px;
  text-align: center;
}

.admin-cards {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 30px;
}

.admin-card {
  background: white;
  width: 220px;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}

.admin-card h3 {
  margin-top: 0;
  color: #0a3d62;
}

.login-container {
  width: 350px;
  margin: 60px auto;
  background: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
  text-align: center;
}

.login-container input {
  width: 90%;
  padding: 8px;
  margin-top: 5px;
}

.login-container button {
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #0a3d62;
  color: white;
  border: none;
  cursor: pointer;
}

.login-note {
  margin-top: 15px;
}

.navbar {
  background-color: #0a3d62;
}


